body {
    background-color: black;
    margin: 2%;
    padding: 2%;
    border-style: solid;
    border-radius: 25px;
    border-color: Snow;
}

h1, h2, h3 {
    font-family: "Ubuntu Mono", monospace;
}
        
h1 {
    color: DeepSkyBlue;
}
   
h2 {
    color: Orchid;
}

h3 {
    color: Gold;
}

p {
    color: Snow;
    font-family: "Ubuntu", sans-serif;
}

p strong, p b {
    color: Orchid;
}

p em, p i {
    color: Gold;
}

a {
    color: DeepSkyBlue;
}

.navbar {
    margin: 2%;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
}

